<div ng-if="step == 1">

    <div class="modal-header">
    	<h3 class="modale__title">Ajouter une source d'analyse</h3>
    </div>
    <div class="modal-body">
        <p>
            Si vous disposez de liens vers des articles permettant de mieux comprendre la loi, ajoutez-les ici.
        </p>

        <p ng-repeat="(id, link) in links">
            {{link}} <button ng-click="removeLink(id)" class="btn btn-link btn-xs">supprimer</button><br/>
        </p>



        <form ng-submit="addLink(linkUrl)" name="linksForm" class="modal-form">
            <div class="form-group">
                <input type="text" ng-model="linkUrl"
                    id="linkUrl" 
                    class="form-control"
                    placeholder="Entrez une adresse commençant par http://"
                    ng-pattern="linkPattern"
                >
            </div>
            <div class="form-group xsubmit">
                <input class="btn btn-link btn-xs" type="submit" value="ajouter">
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button ng-click="close(0)" class="btn btn-large btn-warning" >Annuler</button>
    	<button ng-click="send()" class="btn btn-large btn-primary" >Soumettre la proposition</button>
    </div>
</div>

<div ng-if="step == 2">
    <div class="modal-header">
        <h3 class="modale__title">Proposition enregistrée</h3>
    </div>
    <div class="modal-body">
        <p>
            Merci de votre proposition. Les liens seront validés dès que possible.
        </p>
    </div>
    <div class="modal-footer">
        <button ng-click="close(0)" class="btn btn-large btn-primary" >Fermer</button>
    </div>
</div>