<div ng-if="step == 1">

    <div class="modal-header">
    	<h3 class="modale__title">Pour voter, identifiez-vous par facebook. Pourquoi ?</h3>
    </div>
    <div class="modal-body">
        <p>
            L'identification par facebook est obligatoire, mais <b>aucune information n'est envoyée ou publiée sur facebook.</b>
        </p>

        <p>
            facebook est utilisé <b>uniquement pour empêcher les votes multiples</b>, un peu comme une carte d'électeur.<br/>

            Aucune donnée personnelle n'est enregistrée sur le site, et surtout pas le vote nominatif.<br/>

            <b>Les votes sont définitifs, et anonymes</b>, un peu à la façon d'une urne contenant les bulletins de votes, sans aucun moyen de les relier au votant.
        </p>

        <p>
            <b>Si toutefois vous le choisissez</b>, vous pouvez partager votre vote sur facebook en cochant la case "partager le vote". Dans ce cas, une mention apparaîtra sur les pages de vos contact, sous la forme "XXX a voté pour/contre/abstention le projet/proposition de loi YYYY".
        </p>
    </div>
    <div class="modal-footer">
    	<button ng-click="close(0)" class="btn btn-large btn-warning" >Annuler</button>
    	<button ng-click="next(1)" class="btn btn-large btn-primary" >Valider votre vote</button>
        <label class="checkbox modal-share">
            <input type="checkbox" ng-click="truc()" checked="checked">
            Partager le vote sur facebook
        </label>
    </div>
</div>

<div ng-if="step == 2">
    <div class="modal-header">
        <h3 class="modale__title">Vote enregistré</h3>
    </div>
    <div class="modal-body">
        <p>
            Revenez lorsque le texte ne sera plus en discussion à l'assemblée pour comparer les résultats.
        </p>
    </div>
    <div class="modal-footer">
        <button ng-click="close(0)" class="btn btn-large btn-primary" >Fermer</button>
    </div>
</div>