<a class="texte-header"
   ng-href="/textes/{{texte.id}}"
>

	<div ng-if="texte.mode == 'past'" class="texte-header__time remaining">
		<span class="remaining-icon remaining-voted"></span>
		<span class="remaining-label"></span>
		<span class="remaining-time" human-time="ends_at"></span>
	</div>
	<div ng-if="texte.mode == 'present'" class="texte-header__time remaining">
		<span class="remaining-icon remaining-clock"></span>
		<span class="remaining-label">Reste</span>
		<span class="remaining-time" human-time="ends_at"></span>
	</div>
	<div ng-if="texte.mode == 'future'" class="texte-header__time remaining">
		<span class="remaining-icon remaining-calendar"></span>
		<span class="remaining-label">Dans</span>
		<span class="remaining-time" human-time="starts_at"></span>
	</div>

	<div class="texte-header__body">
		<h4 class="texte-header__title">{{texte.title}}<span class="texte-header__status is-{{texte.status}}" ng-if="texte.status>0 && texte.mode=='past'">{{texte.status_txt}}</span></h4>

		<div ng-if="texte.mode == 'past'" class="results-bars-container">
			<div class="grid">
				<div class="grid__item desk-one-half">
					<div results-bars="assemblee" class="results-bars"></div>
				</div><!--
			 --><div class="grid__item desk-one-half">
					<div results-bars="net" class="results-bars"></div>
				</div>
			</div>
		</div>
	</div>
</a>


<div ng-if="texte.mode == 'present'">
	<div ng-switch on="texte.isVoted()">
		<div ng-switch-when="true" class="texte-header__buttons">
			<button class="btn" disabled>Vous avez déjà voté !</button>
		</div>
		<div ng-switch-default class="texte-header__buttons">
			<button type="submit" ng-model="radio" class="btn btn-primary" name="vote" value="1"
				ng-click="openPopinAndVote(1,texte)"
			>Pour</button>
			<button type="submit" ng-model="radio" class="btn btn-danger" name="vote" value="2"
				ng-click="openPopinAndVote(2,texte)"
			>Contre</button>
			<button type="submit" ng-model="radio" class="btn btn-warning" name="vote" value="3"
				ng-click="openPopinAndVote(0,texte)"
			>Abstention</button>
		</div>
		<p class="texte-header__votes-nb"><ng-pluralize count="texte.votes.total" when="{'0': 'Aucun vote pour l\'instant',
                     														'one': 'Un seul vote pour l\'instant',
                     														'other': 'Déjà {} votes !'}"></ng-pluralize></p>
	</div>
</div>
