<div class="texte-header" ng-include="'/views/partials/texte-header.html'"></div>

<!--div ng-show="!!texte.stats" class="results_more">
	<h4>Vous pouvez affiner les résultats du vote par :</h4>
	<div class="btn-group" ng-init="moreInfo='csps'">
    	<button type="button" class="btn" ng-model="moreInfo" btn-radio="'csps'">Catégorie socio-professionnelle</button>
    	<button type="button" class="btn" ng-model="moreInfo" btn-radio="'bords'">Sensibilité politique</button>
    	<button type="button" class="btn" ng-model="moreInfo" btn-radio="'genders'">Sexe</button>
    	<button type="button" class="btn" ng-model="moreInfo" btn-radio="'ages'">Age</button>
	</div>
	<div ng-switch on="moreInfo">
		<div class="text-center" ng-switch-when="csps">
			<div results="csps"></div>
		</div>
		<div class="text-center" ng-switch-when="bords">
			<div results="bords"></div>
		</div>
		<div class="text-center" ng-switch-when="genders">
			<div results="genders"></div>
		</div>
		<div class="text-center" ng-switch-when="ages">
			<div results="ages"></div>
		</div>
	</div>
</div-->

<div class="texte" ng-init="init_texte()">
	<div class="texte__body">
		<h3 class="sstitre">Partager ce lien</h3>
		
		<div id="fb-header-like" class="fb-like" data-width="450" data-colorscheme="dark" data-layout="button_count" data-action="recommend" data-show-faces="true" data-send="false"></div>
		
		<div class="fake-twitter-share-button">
  			<a href="https://twitter.com/intent/tweet?text=À suivre : {{texte.title}} sur &url={{location.absUrl()}}&via=moicitoyen_site" target="_blank" alt ="Tweet this post">
    			<i class="btn-icon"></i>
    			<span class="btn-text">Twitter</span>
  			</a>
		</div>


		<h3 class="sstitre" ng-if="!texte.communique_title">Communiqué indisponible</h3>
		<h3 class="sstitre" ng-if="texte.communique_title" ng-bind-html='texte.communique_title'></h3>

		<p ng-if="texte.communique" truncate-words data-words="120" data-text-ellipsis="Lire la suite" data-ellipsis="..."></p>

		<!--div ng-if="!articles.length">&gt;&nbsp;<b>Articles indisponibles</b></div>
		<div ng-if="articles.length">
			<h3 class="sstitre">Principaux articles ({{articles.length}})</h3>
			<div ng-repeat="article in articles" class="article">
				<div class="article-content">
					<p><b ng-bind-html="article.title"></b></p>
					<p ng-bind-html="article.content"></p>
				</div>
				<div class="article-votes">
					<div ng-switch on="article.isVoted()" class="pull-left">
						<div ng-switch-when="true">
							<button class="btn" disabled>Vous avez déjà voté !</button>
						</div>
						<div ng-switch-default>
							<button type="submit" ng-model="radio" class="btn btn-primary" name="vote" value="1"
								ng-click="openPopinAndVoteArticle(1,texte, article)"
							>Pour</button>
							<button type="submit" ng-model="radio" class="btn btn-danger" name="vote" value="2"
								ng-click="openPopinAndVoteArticle(2,texte, article)"
							>Contre</button>
							<button type="submit" ng-model="radio" class="btn btn-warning" name="vote" value="0"
								ng-click="openPopinAndVoteArticle(0,texte, article)"
							>Abstention</button>
						</div>
					</div>
				</div>
			</div>
		</div-->

		<h3 class="sstitre">Textes officiels</h3>
		<p ng-if="!texte.url_sn && !texte.url_an && !texte.url_lf">Ancun lien disponible</p>
		<p ng-if="texte.url_lf"><b><a ng-href="{{texte.url_lf}}" target="_blank">Dossier légifrance</a></b></p>
		<p ng-if="texte.url_an"><b><a ng-href="{{texte.url_an}}" target="_blank">Dossier de l'assemblée nationale</a></b></p>
		<p ng-if="texte.url_sn"><b><a ng-href="{{texte.url_sn}}" target="_blank">Dossier du sénat</a></b></p>

		<h3 class="sstitre">Sources d'analyse</h3>

		<div ng-if="texte.links.length">
			<p ng-repeat="link in texte.links"><a href="{{link.url}}" target="_blank">{{link.url}}</a></p>

			<button type="submit" ng-model="radio" class="btn btn-primary" name="vote" value="3"
				ng-click="openLinkProposalPopin(texte)"
			>Ajouter une source</button>
		</div>

		<div ng-if="!texte.links.length">

			<p>
				Aucune source n'a été proposée. Soyez le premier à soumettre un lien offrant une analyse du texte.
			</p>

			<button type="submit" ng-model="radio" class="btn btn-primary" name="vote" value="3"
				ng-click="openLinkProposalPopin(texte)"
			>Proposer une source</button>
		</div>

		<h3 class="sstitre">Vos commentaires</h3>
	</div>

	<fb-comments class="fb-comments" data-href="{{location.absUrl()}}" data-width="980"></fb-comments>
</div>