<div class="texte_small clearfix">

	<div class="texte_small-question">
		<h4 class="h4"><span class="texte-status is-{{texte.status}}" ng-if="texte.status>0 && texte.mode=='past'">{{texte.status_txt}} :</span> {{texte.title}}</h4>
	</div>

	<div ng-if="texte.mode == 'past'" class="texte_small-time remaining">
		<span class="remaining-icon remaining-voted"></span>
		<span class="remaining-label">Discuté le</span>
		<span class="remaining-time" human-time="ends_at"></span>
	</div>
	<div ng-if="texte.mode == 'present'" class="texte_small-time remaining">
		<span class="remaining-icon remaining-clock"></span>
		<span class="remaining-label">Temps restant</span>
		<span class="remaining-time" human-time="ends_at"></span>
	</div>
	<div ng-if="texte.mode == 'future'" class="texte_small-time remaining">
		<span class="remaining-icon remaining-calendar"></span>
		<span class="remaining-label">Ouverture dans</span>
		<span class="remaining-time" human-time="starts_at"></span>
	</div>

	<div ng-if="texte.mode == 'past'" class="results_bars-container">
		<div results-bars="net" class="results_bars results_bars_1"></div>
		<div results-bars="assemblee" class="results_bars results_bars_2"></div>
		<!--div class="row">
			<div results="net" class="span4"></div>
			<div results="assemblee" class="span4"></div>
		</div-->


		<!--div ng-show="!!texte.stats" class="results_more">
			<h4>Vous pouvez affiner les résultats du vote par :</h4>
			<div class="btn-group" ng-init="moreInfo='csps'">
	        	<button type="button" class="btn" ng-model="moreInfo" btn-radio="'csps'">Catégorie socio-professionnelle</button>
	        	<button type="button" class="btn" ng-model="moreInfo" btn-radio="'bords'">Sensibilité politique</button>
	        	<button type="button" class="btn" ng-model="moreInfo" btn-radio="'genders'">Sexe</button>
	        	<button type="button" class="btn" ng-model="moreInfo" btn-radio="'ages'">Age</button>
	    	</div>
	    	<div ng-switch on="moreInfo">
	    		<div class="text-center" ng-switch-when="csps">
					<div results="csps"></div>
	    		</div>
	    		<div class="text-center" ng-switch-when="bords">
					<div results="bords"></div>
	    		</div>
	    		<div class="text-center" ng-switch-when="genders">
					<div results="genders"></div>
	    		</div>
	    		<div class="text-center" ng-switch-when="ages">
					<div results="ages"></div>
	    		</div>
	    	</div>
		</div-->
	</div>

	<div ng-if="texte.mode == 'present'">
		<div ng-switch on="texte.isVoted()" class="pull-left">
			<div ng-switch-when="true">
				<button class="btn" disabled>Vous avez déjà voté !</button>
			</div>
			<div ng-switch-default>
				<button type="submit" ng-model="radio" class="btn btn-primary" name="vote" value="1"
					ng-click="openPopinAndVote(1,texte)"
				>Pour</button>
				<button type="submit" ng-model="radio" class="btn btn-danger" name="vote" value="2"
					ng-click="openPopinAndVote(2,texte)"
				>Contre</button>
				<button type="submit" ng-model="radio" class="btn btn-warning" name="vote" value="0"
					ng-click="openPopinAndVote(0,texte)"
				>Abstention</button>
			</div>
		</div>
	</div>



</div>

<div class="texte" ng-init="init_texte()">
	<p ng-if="!texte.communique_title">&gt;&nbsp;<b>Communiqué indisponible</b></p>
	<h3 class="sstitre" ng-if="texte.communique_title" ng-bind-html='texte.communique_title'></h3>

	<p ng-if="texte.communique" truncate-words data-words="120" data-text-ellipsis="Lire la suite" data-ellipsis="..."></p>

	<div ng-if="!articles.length">&gt;&nbsp;<b>Articles indisponibles</b></div>
	<div ng-if="articles.length">
		<h3 class="sstitre">Principaux articles ({{articles.length}})</h3>
		<div ng-repeat="article in articles" class="article">
			<div class="article-content">
				<p><b ng-bind-html="article.title"></b></p>
				<p ng-bind-html="article.content"></p>
			</div>
			<!--div class="article-votes">
				<div ng-switch on="article.isVoted()" class="pull-left">
					<div ng-switch-when="true">
						<button class="btn" disabled>Vous avez déjà voté !</button>
					</div>
					<div ng-switch-default>
						<button type="submit" ng-model="radio" class="btn btn-primary" name="vote" value="1"
							ng-click="openPopinAndVoteArticle(1,texte, article)"
						>Pour</button>
						<button type="submit" ng-model="radio" class="btn btn-danger" name="vote" value="2"
							ng-click="openPopinAndVoteArticle(2,texte, article)"
						>Contre</button>
						<button type="submit" ng-model="radio" class="btn btn-warning" name="vote" value="0"
							ng-click="openPopinAndVoteArticle(0,texte, article)"
						>Abstention</button>
					</div>
				</div>
			</div-->
		</div>
	</div>

	<h3 class="sstitre">Plus d'informations</h3>
	<p ng-if="!texte.url_an">Dossier de l'assemblée nationale indisponible</p>
	<p ng-if="texte.url_an"><b><a ng-href="{{texte.url_an}}" target="_blank">Lien vers le dossier de l'assemblée nationale</a></b></p>
	<p ng-if="!texte.url_sn">Dossier du sénat indisponible</p>
	<p ng-if="texte.url_sn"><b><a ng-href="{{texte.url_sn}}" target="_blank">Lien vers le dossier du sénat</a></b></p>
	<p ng-if="!texte.url_lf">Dossier légifrance indisponible</p>
	<p ng-if="texte.url_lf"><b><a ng-href="{{texte.url_lf}}" target="_blank">Lien vers le dossier légifrance</a></b></p>
	<h3 class="sstitre">Vos commentaires</h3>

	<fb-comments class="fb-comments" data-href="{{location.absUrl()}}" data-width="980"></fb-comments>
</div>