<div class="section section--text">
    <h2 class="section__title section--text__title">Principe</h2>

    <p>"Moi, citoyen" propose aux internautes de suivre l'actualité des débats de l'assemblée nationale.</p>

    <p>"Moi, citoyen" propose également aux internautes de voter chaque texte discuté, en même temps que les députés.</p>

    <p>Les internautes votants peuvent choisir de partager leurs votes sur le réseau social facebook, et ainsi attirer l'attention de leurs contacts les textes en discussion.</p>

    <p>Une fois les textes votés en assemblée, les internautes peuvent comparer leur vote aux votes de l'assemblée.</p>

    <h2 class="section__title section--text__title">Confidentialité</h2>

    <p>Pour limiter les votes multiples, "Moi, citoyen" s'appuie sur facebook. L'identification n'est possible que par ce biais.</p>

    <p>Les votes sont anonymes. La base de donnée ne contient aucune information sur le choix effectué par un internaute, telle l'urne dans laquelle sont déposés les bulletins de vote.</p>

    <p>La seule information enregistrée est le fait d'avoir voté, comme dans un bureau de vote où l'électeur "a voté !".</p>

    <p>Pour cette raison, il n'est pas possible de changer son choix. Tout vote est définitif.</p>

    <h2 class="section__title section--text__title">Aller plus loin</h2>

    <p>L'information présentée sur "Moi, citoyen" est très simplifiée, pour plusieurs raisons&nbsp;:</p>

    <ul>
        <li>Le site veut aller l'essentiel : informer les internautes sur les textes discutés</li>
        <li>Il est très difficile d'accéder à de l'information claire, complète et à jour sur les sites officiels</li>
        <li>Le processus législatif est excessivement complexe. En rendre compte de façon complète, en prenant en compte le sénat par exemple, serait une gageure pédagogique.</li>
        <li>J'effectue le développement de ce site sur mon temps libre, qui est limité. J'envisage par ailleurs de rendre le projet open source s'il y a de la demande.</p>
    </ul>

    <h2 class="section__title section--text__title">Données</h2>

    <p>Les données de ce site sont issues du site de l'<a href="http://www.assemblee-nationale.fr">assemblée nationale</a> et du site <a href="http://www.legifrance.gouv.fr/">legifrance</a>.

    <h2 class="section__title section--text__title">Feuille de route</h2>

    <p>Parmi toutes les choses que je souhaite mettre en place sur ce site, en voici une petite liste :</p>

    <ul>
        <li>Demander aux internautes des informations pour mieux appréhender les votes (orientation politique, sexe, csp...). Ces données ne seraient bien entendu anonymisées, sans moyen de les relier à l'utilisateur.</li>
        <li>Pour chaque projet ou proposition de lois, ajouter une liste de liens vers les articles des principaux journaux traitant du sujet.</li>
        <li>Analyser chaque texte, soit par une future équipe si le site rencontre le succès, soit en permettant aux internautes de collaborer pour de rédiger une analyse.</li>
        <li>Permettre de voter les différents articles et amendements d'une loi, en plus du vote global</li>
        <li>Mettre en place une page claire et pédagogique expliquant le fonctionnement de nos institutions législatives</li>
        <li>Ajouter plus d'informations pour chaque texte, expliquant les étapes de sont élaboration (lectures, renvois en commissions, cpm, procédure accélérée...)</li>
        <li>Permettre de suivre les votes d'un ou de plusieurs députés en particulier<li>
        <li>Mettre en place un système de soutien au site, via paypal, bitcoin ou autre</li>
        <li>Et bien d'autres choses !</li>
    </ul>

</div>