<div class="section-present">

	<h3 class="h3">En discussion : <ng-pluralize count="(textes | filter:{mode:'present'}).length" when="{'0': 'aucun texte',
                     														'one': '1 texte',
                     														'other': '{} textes'}"></ng-pluralize></h3>

	<p ng-if="!(textes | filter:{mode:'present'}).length">Il n'y a pas de texte actuellement en discussion.</p>
	<div
		ng-repeat="texte in textes | filter:{mode:'present'} | orderBy:'ends_at'"
		ng-include="'/views/partials/texte_small.html'"
		class="texte_small clearfix"
	></div>

</div>

<div class="section-future">
	<h3 class="h3">Bientôt en discussion : <ng-pluralize count="(textes | filter:{mode:'future'}).length" when="{'0': 'aucun texte',
                     														'one': '1 texte',
                     														'other': '{} textes'}"></ng-pluralize></h3>

	<p ng-if="!(textes | filter:{mode:'future'}).length">Il n'y a pas de textes prévus.</p>

	<div 
		ng-repeat="texte in textes | filter:{mode:'future'} | orderBy:'starts_at'"
		ng-include="'/views/partials/texte_small.html'"
		class="texte_small clearfix"
	></div>
</div>

<div class="section-past">
	<h3 class="h3">Déjà discuté : <ng-pluralize count="(textes | filter:{mode:'past'}).length" when="{'0': 'aucun texte',
                     														'one': '1 texte',
                     														'other': '{} textes'}"></ng-pluralize></h3>

	<p ng-if="!(textes | filter:{mode:'past'}).length">Il n'y a pas encore de textes déjà discutés.</p>
	<div 
		ng-repeat="texte in textes | filter:{mode:'past'} | orderBy:'-ends_at' | limitTo:5"
		ng-include="'/views/partials/texte_small.html'"
		class="texte_small clearfix"
	></div>
	<p class="read-more" ng-if="(textes | filter:{mode:'past'}).length > 3"><a class="read-more__link" href="/textes?mode=past">Voir la liste complète</a></p>
</div>

