<div class="section-present" ng-controller="TextesController" ng-init="init_textes('current')">

	<h3 class="h3">Textes actuellement en discussion</h3>

	<p ng-if="!textes.length">Il n'y a pas de texte actuellement en discussion.</p>
	<div
		ng-repeat="texte in textes"
		ng-include="'/views/partials/texte_small.html'"
		class="texte_small clearfix"
	></div>
</div>


</div>


<div class="section-future" ng-controller="TextesController" ng-init="init_textes('future')">
	<h3 class="h3">Textes bientôt en discussion</h3>

	<p ng-if="!textes.length">Il n'y a pas de textes prévus.</p>
	<div 
		ng-repeat="texte in textes"
		ng-include="'/views/partials/texte_small.html'"
		class="texte_small clearfix"
	></div>

</div>

<div class="section-past" ng-controller="TextesController" ng-init="init_textes('past')">
	<h3 class="h3">Textes déjà discutés</h3>

	<p ng-if="!textes.length">Il n'y a pas encore de textes déjà discutés.</p>
	<div 
		ng-repeat="texte in textes"
		ng-include="'/views/partials/texte_small.html'"
		class="texte_small clearfix"
	></div>
</div>

