<div class="section-present" ng-init="init_order()">

	<h3 class="h3" ng-if="routeParams.mode == 'past'">Textes déjà discutés ({{(textes | filter:{mode:routeParams.mode}).length}})</h3>
	<h3 class="h3" ng-if="routeParams.mode == 'present'">Discussions en cours ({{(textes | filter:{mode:routeParams.mode}).length}})</h3>
	<h3 class="h3" ng-if="routeParams.mode == 'future'">Discussions à venir ({{(textes | filter:{mode:routeParams.mode}).length}})</h3>

	<p ng-if="!(textes | filter:{mode:routeParams.mode}).length">Il n'y a pas de texte.</p>
	<div
		ng-repeat="texte in textes | filter:{mode:routeParams.mode} | orderBy:order"
		ng-include="'/views/partials/texte-header.html'"
		class="texte_small clearfix"
	></div>

</div>
