

<h2>Fonctionnalités</h2>

<p>"Moi, élu..." propose aux internautes de suivre l'actualité de l'assemblée nationale.</p>

<p>Ils peuvent au quotidien connaître les projets de lois et les propositions de lois débatus à l'assemblée nationale.</p>

<p>"Moi, élu..." propose également aux internautes de voter pour, contre ou abstention pour toutes les textes votés en assemblée.</p>

<p>Les internautes votants peuvent choisir de partager leurs votes sur le réseau social facebook, et ainsi atirer l'attention de leurs contacts sur tel ou tel texte en discussion</p>

<p>Une fois les textes votés en assemblée, les internautes peuvent comparer les votes effectués sur internet aux votes effectués en assemblée</p>

<h2>Confidentialité</h2>

<p>Pour éviter les votes multiples et éviter les votes peu sérieux, "Moi, élu..." se repose sur facebook. L'identification n'est possible que par ce biais.</p>

<p>Les votes sont anonymes. La base de donnée ne contient aucune information sur le choix effectué par un internaute.</p>

<p>La seule information enregistrée est le fait d'avoir voté. Le choix en lui même n'est jamais enregistré.</p>

<p>Pour cette raison, il n'est pas possible de changer de vote. Tout vote est définitif</p>

<p>Ce choix est déontologique et pragmatique. Premièrement, personne n'a à savoir quels sont les choix politiques d'un particulier, même l'éditeur de ce site. Par ailleurs, l'informatique est faillible&nbsp;: les nombreux piratages de sites internet l'illustrent très bien. Si un jour ce site se faisait pirater, aucune information privée ne serait accessible.</p>




