<h2>Textes actuellement soumis au vote</h2>

<div ng-repeat="question in questions">
	<h4><a href="/questions/{{question.id}}">{{question.text}}</a></h4>
	<div ng-switch on="question.isVoted()">
		<div class="text-center" ng-switch-when="true">
			Vous avez déjà voté !
		</div>
		<div class="text-center" ng-switch-default>
			<button type="submit" ng-model="radio" class="btn btn-primary" name="vote" value="1"
				ng-click="setChoice(1,question)"
				ng-class="{active : question.isVoted(1)}"
			>Pour</button>
			<button type="submit" ng-model="radio" class="btn btn-danger" name="vote" value="2"
				ng-click="setChoice(2,question)"
				ng-class="{active : question.isVoted(2)}"
			>Contre</button>
			<button type="submit" ng-model="radio" class="btn btn-warning" name="vote" value="0"
				ng-click="setChoice(0,question)"
				ng-class="{active : question.isVoted(0)}"
			>Absention</button>
		</div>

		<div ng-switch on="question.votes.actives">
			<div class="progress progress-info" ng-switch-when=">0">
				<div class="bar bar-success" style="width: {{question.votes.pour.perc}}%;">{{question.votes.pour.perc}}%</div>
  				<div class="bar bar-warning" style="width: {{question.votes.contre.perc}}%;">{{question.votes.contre.perc}}%</div>
			</div>
			<div ng-switch-default>
				Aucun vote pour l'instant
			</div>

	</div>
</div>
