@import "compass/css3/box-shadow";
@import "./_normalize";



.wrapper{
	max-width: 990px;
	margin: 0 auto;
}

.header{
	color: #333;
	position: relative;

	.header-top{
		background-color: #0a3f5a;
		line-height: 40px;
		padding: 10px 0 10px 30px;
        @media only screen and (max-width: 400px){
			padding: 5px 0 10px 10px;
        }
	}
	.header__logo{
		font-family: 'Lato', sans-serif;
		font-size: 30px;
		text-transform: uppercase;
		font-weight: 900;
		margin: 0;
		line-height: 60px;
		color: #fff;
		display: inline-block;
		vertical-align: middle;
		margin-right: 15px;
		a{
			color: inherit;
			&:hover{
				color: inherit;
			}
		}
	}

	.header__content{
		clear: both;
	}

	.header__punchline{
		margin: 0;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 80px;
		line-height: normal;
		//@include rgba-background-inline(rgba(0,0,0,0.6));
		padding: 10px;

        @media only screen and (max-width: 1100px){
			font-size: 40px;
        }
	}

	.header__punchscription{
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 21px;
		line-height: normal;
		//@include rgba-background-inline(rgba(0,0,0,0.6));
		margin: 0;
		padding: 10px;
		margin-top: 20px;
        @media only screen and (max-width: 700px){
			font-size: 16px;
        }
	}

	.header__social-widget{
		display: inline-block;
		vertical-align: middle;
		padding-top: 10px;
		margin-right: 25px;
		/*
        @media only screen and (max-width: 700px){
			display: none;
        }
        */

	}

	.nav{
		margin: 0 0 0 0;
		display: inline-block;
		vertical-align: middle;
		float: right;
		margin-top: 13px;
        @media only screen and (max-width: 950px){
			float: none;
			margin-top: 0;
        }
		a{
			color: #fff;
		}
	}

}

a{
	color: inherit;
	text-decoration: inherit;
}
p > a, p > b > a{
	color: #1b7bab;
}

.h3{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 38px;
	color: #828282;
	font-weight: 300;
	@media only screen and (max-width: 600px){
		font-size: 26px;
		line-height: 30px;
    }
	@media only screen and (max-width: 400px){
		font-size: 24px;
		line-height: 26px;
    }
}

.h4{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #0a3f5a;
	line-height: normal;
	@media only screen and (max-width: 600px){
		font-size: 18px;
    }
	@media only screen and (max-width: 400px){
		font-size: 16px;
    }
}

%section{
	padding: 30px 10px 25px 10px;
	& + &{
		@include box-shadow(inset 0px 5px 10px -10px #000);
	}

	@media only screen and (max-width: 500px){
		padding: 15px 10px 0 10px;
	}
}
.section-present, .section-past, .section-future{
	@extend %section;
}

.section-future{
	background-color: #f5f5f5;
}

.section-past{
	background-color: #ebebeb;
}
.texte_small{
	padding-top: 30px;
	padding-bottom: 35px;
	
	& + &{
		border-top: 1px solid #e6e6e6;
	}

	@media only screen and (max-width: 600px){
		padding-top: 10px;
		padding-bottom: 10px;
    }

	.texte_small-question{
		float: left;
		width: 80%;
		@media only screen and (max-width: 400px){
			width: auto;
			float: none;
	    }
	}
	.texte_small-time{
		float: right;
		width: 12%;
		text-align: center;
		min-width: 50px;

		@media only screen and (max-width: 400px){
			width: auto;
			float: none;
			text-align: left;
	    }
	}
    .texte-status{
    	text-transform: uppercase;
    	&.is-1{
    		color: #666;
    	}
    	&.is-2{
    		color: green;
    	}
    	&.is-3{
    		color: red;
    	}

    }
}

.remaining{
	margin-top: 15px;

	.remaining-icon{
		display: block;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100%;
		margin: 0 auto;
		@media only screen and (max-width: 400px){
			display: none;
	    }
	}

	.remaining-clock{
		width: 39px;
		height: 39px;		
		background-image: url(../img/clock.png);
		@media only screen and (max-width: 600px){
			width: 30px;
			height: 30px;		
	    }
	}
	.remaining-calendar{
		width: 41px;
		height: 40px;		
		background-image: url(../img/calendar.png);
		@media only screen and (max-width: 600px){
			width: 30px;
			height: 30px;		
	    }
	}
	.remaining-voted{
		width: 48px;
		height: 55px;		
		background-image: url(../img/voted.png);
		@media only screen and (max-width: 600px){
			width: 30px;
			height: 34px;		
	    }
	}
	.remaining-label{
		font-family: arial;
		font-size: 13px;
		color: #828282;
		display: inline-block;
	}
	.remaining-time{
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 15px;
		color: #828282;
		font-weight: 700;
		text-transform: uppercase;
		display: inline-block;
		@media only screen and (max-width: 600px){
			font-size: 12px;
	    }
		@media only screen and (max-width: 400px){
			text-transform: none;
			font-family: arial, sans-serif;
	    }
	}
}

.texte{
	padding: 30px 10px 60px 10px;
	@media only screen and (max-width: 980px){
		padding: 30px 5px 60px 5px;
    }

    .sstitre{
    	font-family: 'Lato', sans-serif;
    	font-size: 20px;
    	color: #444;
    	border-bottom: 1px solid #666;
    }
    .texte-status{
    	&.is-1{
    		color: green;
    	}
    	&.is-2{
    		color: red;
    	}
    	&.is-3{
    		color: #666;
    	}

    }
}

.fb-comments.fb_iframe_widget {
	width: 100% !important;
	max-width: 700px;
	display: block;
	margin: 0 auto;
	span, iframe{
		width: 100% !important;
	}
}

.hidden{
	display: none;
}

.article{
	clear: both;
	padding: 20px 10px;
	/*
	.article-content{
		float: left;
		width: 70%;
	}

	.article-votes{
		float: right;
		width: 30%;
	}
	*/
	& + &{
		border-top: 1px solid #e6e6e6;
	}
	&:last-child{
		border-bottom: 1px solid #e6e6e6;
	}
}

.results_bars-container{
	width: 80%;
	overflow: hidden;
	@media only screen and (max-width: 400px){
		width: auto;
		overflow: hidden;
	}
}
.results_bars{
	min-width: 230px;
	width: 48%;

	&.results_bars_1{
		float: left;
		clear: both;
	}
	&.results_bars_2{
		float: right;
	}

	@media only screen and (max-width: 600px){
		padding: 0 5px;
		&.results_bars_1{
			float: none;
			width: 100%;
		}
		&.results_bars_2{
			float: none;
			width: 100%;
		}
    }



	.results_bars-title{
		color: #828282;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		font-size: 26px;
		margin: 30px 0;
		@media only screen and (max-width: 600px){
			font-size: 16px;
			margin: 10px 0;
		}
	}

	.rb-row{
		display: table;
		width: 100%;
		table-layout: fixed;
	}


	.rb-row-label{
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 700;
		color: #828282;
		font-size: 15px;
		display: table-cell;
		text-transform: uppercase;
		vertical-align: middle;
		width: 22%;
	        white-space: nowrap;
	        overflow: hidden;
	        text-overflow: ellipsis;
	}
	.rb-row-bar{
		display: table-cell;
		height: 20px;
		vertical-align: middle;
	}
	.rb-row-perc{
		display: table-cell;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		vertical-align: middle;
		font-size: 20px;
		width: 58px;
		text-indent: 8px;
	}
	.rb-row_pour{
		.rb-row-bar_inside{
			display: block;
			background-color: #1c98be;
			height: 20px;
		}
		.rb-row-perc{
			color: #1c98be;
		}
	}

	.rb-row_contre{
		.rb-row-bar_inside{
			background-color: #d3492b;
			display: block;
			height: 20px;
		}
		.rb-row-perc{
			color: #d3492b;
		}
	}
	.rb-row_abstention{
		.rb-row-bar_inside{
			background-color: #be8814;
			display: block;
			height: 20px;
		}
		.rb-row-perc{
			color: #be8814;
		}
	}

	.rb-row_contre, .rb-row_abstention{
		margin-top: 10px;
	}
}

.results_more{
	clear: both;
	padding-top: 30px;
}
.read-more{
	border-top: 1px solid #E6E6E6;
	padding-top: 25px;
	margin: 10px;

	.read-more__link{
		text-align: center;
		display: block;
		border: 1px solid #dadada;
		border-radius: 4px;
		background-color: #fff;
		color: #1B7BAB;
		padding: 10px 0;
		max-width: 320px;
		margin: 0 auto;
		text-decoration: none;
		font-weight: bold;
		&:hover{
			background-color: #ccc;
			color: #0A3F5A;
		}
	}

	@media only screen and (max-width: 500px){
		padding: 0;
		margin: 0 -10px;

		.read-more__link{
			border: 0;
			border-radius: 0;
			max-width: none;

		}
	}


}