@charset "UTF-8";

// Imports
@import "compass/css3/images";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";

@import "vars";
@import "../vendor/inuit.css/inuit";

// Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

p{
	margin: 0;
}

h1, h2, h3, h4, label, ul, li{
	margin: 0;
	padding: 0;
}

// utils
@mixin module($name) {
  .#{$name} {
    @at-root {
      @content;
    }
  }
}


.wrapper{
	max-width: 990px;
	margin: 0 auto;
}

@include module('header') {
	color: #333;
	position: relative;
	height: 40px;
	line-height: 40px;
	@include media-query(desk){
		height: 60px;
		line-height: 60px;
	}
	#{&}__top{
		background-color: #0a3f5a;
		position: relative;
	}

	#{&}__logo{
		font-family: 'Lato', sans-serif;
		font-size: 24px;
		text-transform: uppercase;
		font-weight: 900;
		line-height: inherit;
		color: #fff;
		vertical-align: middle;
		text-align: center;
		@include media-query(portable){
			&:after{
				content: ' ';
				display: inline-block;
				background: url(../img/logo-80x80.png) no-repeat 0 0;
				background-size: contain;
				width: 40px;
				height: 33px;
				vertical-align: middle;
				margin-left: 10px;
				margin-top: -10px;
				@include media-query(portable){
					width: 30px;
					height: 22px;
					margin-top: -5px;
				}
			}
		}
		@include media-query(desk){
			&:before{
				content: ' ';
				display: inline-block;
				background: url(../img/logo-80x80.png) no-repeat 0 0;
				background-size: contain;
				width: 40px;
				height: 33px;
				vertical-align: middle;
				margin-right: 10px;
				margin-top: -10px;
				@include media-query(portable){
					width: 30px;
					height: 22px;
					margin-top: -5px;
				}
			}
			
		}
		a{
			color: inherit;
			&:hover{
				text-decoration: none;
				color: inherit;
			}
		}
		@include media-query(desk){
			text-align: left;
			display: inline-block;
			margin-left: 10px;
		}
	}

	#{&}__content{
		clear: both;
	}


	#{&}__punchline{
		margin: 0;
		font-family: 'Lato', sans-serif;
		font-weight: 700;
		font-size: 80px;
		line-height: normal;
		padding: 10px;

        @media only screen and (max-width: 1100px){
			font-size: 40px;
        }
	}

	#{&}__punchscription{
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 21px;
		line-height: normal;
		margin: 0;
		padding: 10px;
		margin-top: 20px;
        @media only screen and (max-width: 700px){
			font-size: 16px;
        }
	}

	#{&}__social-widget{
		display: inline-block;
		vertical-align: middle;
		margin-left: 25px;
		@include media-query(portable){
			display: none;
		}
	}
}

@include module('content') {
	position: relative;

	#{&}__intro{
	  position: relative;
	}

	#{&}__intro-slogan{
	  margin: 0;
	  font-family: 'Lato', sans-serif;
	  font-weight: 700;
	  font-size: 80px;
	  line-height: normal;
	  padding: 10px;
	  font-size: 24px;
	  text-align: center;
	  color: #0A3F5A;
	}

	#{&}__intro-text{
	  font-size: 20px;
	  text-align: center;
	  padding: 10px;
	  background-color: #2A5F7A;
	  color: #fff;
	}

}



@include module('main-nav') {

	#{&}__checkbox{
		display: none;
	}
	#{&}__icon{
		display: none;
	}
	@include media-query(desk){
		display: none;
	}
	@include media-query(portable){
		position: fixed;
		width: 180px;
		height: 100%;
		background-color: #fff;
		border-right: 1px solid #666;
		z-index: 1;
		left: -180px;
		font-family: 'Lato', sans-serif;
		font-weight: bold;
		color: #333;
		
		//@include transition(left 150ms ease-in-out);

		.header__top{
			//@include transition(top 150ms ease-in-out);
		}
		.header__top.is-fixed,
		.header__top.anim-end,
		#{&}__checkbox:checked ~ .header .header__top {
			position: fixed;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		.header__top.anim-start,
		.header__top.anim-end{
			top: -40px;
		}
		#{&}__checkbox:checked ~ .header .header__top .main-nav{
			left: 0;
		}
		#{&}__checkbox:checked ~ .content{
			position: fixed;
			height: 100%;
		}
		#{&}__checkbox:checked ~ .footer{
			display: none;
		}

		#{&}__icon{
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 40px;
			width: 40px;
			text-indent: -999px;
			font-size: 30px;
			color: #fff;
			vertical-align: middle;
			background: url(../img/icon-menu.png) no-repeat 50% 50%;
		}

		#{&}__link{
			border-top: 1px solid #fff;
			border-bottom: 1px solid #dadada;
			display: block;
			padding: 10px;
			@include background(linear-gradient(#fff, #f1f1f1));
			&.is-active, &:hover{
				background-color: #dadada;
				@include box-shadow(inset 0 0 10px 0 #dadada);
				text-decoration: none;
			}
		}
	}




	// #{&}__checkbox:checked{
	// 	~ .header .main-nav{
	// 		left: 0;
	// 	}

	// } 
	
}

a{
	color: inherit;
	text-decoration: inherit;
}
p > a, p > b > a{
	color: #1b7bab;
}
@include module('section') {
	padding: 10px 0 10px 0;
	& + &{
		@include box-shadow(inset 0px 5px 10px -10px #000);
	}

	@include media-query(lap){
		padding: 20px 0 20px 0;
	}
	@include media-query(desk){
		padding: 30px 0 30px 0;
	}

	#{&}--future{
		background-color: #f5f5f5;
	}
	#{&}--past{
		background-color: #ebebeb;
	}

	#{&}__title{
		@extend %title-section;
	}

	#{&}__message{
		padding-left: 10px;
		padding-right: 10px;
	}
}



%title-section{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;

	color: #333333; // #828282;
	font-size: 24px;
	line-height: 26px;
	padding-left: 10px;
	padding-right: 10px;

	@include media-query(lap){
		font-size: 26px;
		line-height: 30px;
	}
	@include media-query(desk){
		font-size: 38px;
		font-weight: 300;
	}
}

%title-texte{
	color: #0a3f5a;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: normal;

	@include media-query(lap){
		font-size: 18px;
	}
	@include media-query(desk){
		font-size: 24px;
	}

}

@include module('texte-header') {
	& + &{
		border-top: 1px solid #e6e6e6;
	}

	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	cursor: pointer;
	&:hover{
		text-decoration: none;
	}

	@include media-query(portable){
		cursor: pointer;
		&:hover{
			background-color: #dadada;
		}
	}

	@include media-query(lap){
		padding-top: 20px;
		padding-bottom: 20px;
	}
	@include media-query(desk){
		padding-top: 30px;
		padding-bottom: 35px;
	}

	#{&}__title{
		@extend %title-texte;
		display: inline;
	}

    #{&}__status{
    	text-transform: uppercase;
		font-weight: 700;

    	&.is-1{
    		color: #666;
    	}
    	&.is-2{
    		color: green;
    	}
    	&.is-3{
    		color: red;
    	}
		@include media-query(portable){
			display: inline;
		}
    }
    .remaining{
		color: #828282;
		display: inline;
		font-family: 'Lato',sans-serif;
		font-size: 16px;

		@include media-query(lap){
			font-size: 18px;
		}
		@include media-query(desk){
			font-size: 24px;
		}

		&:after{
			content: ' : ';
		}
	}
	.remaining-time:first-letter{
		text-transform: uppercase;
	}

}


/*
.remaining{
	margin-top: 15px;

	.remaining-icon{
		display: block;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100%;
		margin: 0 auto;
		@media only screen and (max-width: 400px){
			display: none;
	    }
	}

	.remaining-clock{
		width: 39px;
		height: 39px;		
		background-image: url(../img/clock.png);
		@media only screen and (max-width: 600px){
			width: 30px;
			height: 30px;		
	    }
	}
	.remaining-calendar{
		width: 41px;
		height: 40px;		
		background-image: url(../img/calendar.png);
		@media only screen and (max-width: 600px){
			width: 30px;
			height: 30px;		
	    }
	}
	.remaining-voted{
		width: 48px;
		height: 55px;		
		background-image: url(../img/voted.png);
		@media only screen and (max-width: 600px){
			width: 30px;
			height: 34px;		
	    }
	}
	.remaining-label{
		font-family: arial;
		font-size: 13px;
		color: #828282;
		display: inline-block;
	}
	.remaining-time{
		font-family: 'Roboto Condensed', sans-serif;
		font-size: 15px;
		color: #828282;
		font-weight: 700;
		text-transform: uppercase;
		display: inline-block;
		@media only screen and (max-width: 600px){
			font-size: 12px;
	    }
		@media only screen and (max-width: 400px){
			text-transform: none;
			font-family: arial, sans-serif;
	    }
	}
}
*/

.texte{

	.texte__body{
		padding: 0 10px;
	}

    .sstitre{
    	font-family: 'Lato', sans-serif;
    	font-size: 16px;
    	color: #444;
    	border-top: 1px solid #dadada;
		margin: 25px -10px 20px -10px;
		padding: 10px 10px 0 10px;
		line-height: inherit;
    }
    .texte-status{
    	&.is-1{
    		color: green;
    	}
    	&.is-2{
    		color: red;
    	}
    	&.is-3{
    		color: #666;
    	}

    }
}

.fb-comments.fb_iframe_widget {
	width: 100% !important;
	max-width: 700px;
	display: block;
	margin: 0 auto;
	span, iframe{
		width: 100% !important;
	}
}

.hidden{
	display: none;
}

.article{
	clear: both;
	padding: 20px 10px;
	/*
	.article-content{
		float: left;
		width: 70%;
	}

	.article-votes{
		float: right;
		width: 30%;
	}
	*/
	& + &{
		border-top: 1px solid #e6e6e6;
	}
	&:last-child{
		border-bottom: 1px solid #e6e6e6;
	}
}

.results_bars-container{
}
.results_bars{
	min-width: 230px;

	.results_bars-title{
		color: #828282;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		font-size: 26px;
		margin: 30px 0;
		text-align: center;
		@media only screen and (max-width: 600px){
			font-size: 16px;
			margin: 10px 0;
		}
	}

	.rb-row{
		display: table;
		width: 100%;
		table-layout: fixed;
	}


	.rb-row-label{
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 700;
		color: #828282;
		font-size: 15px;
		display: table-cell;
		text-transform: uppercase;
		vertical-align: middle;
		width: 22%;
	        white-space: nowrap;
	        overflow: hidden;
	        text-overflow: ellipsis;
	}
	.rb-row-bar{
		display: table-cell;
		height: 20px;
		vertical-align: middle;
	}
	.rb-row-perc{
		display: table-cell;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 300;
		vertical-align: middle;
		font-size: 20px;
		width: 58px;
		text-indent: 8px;
	}
	.rb-row_pour{
		.rb-row-bar_inside{
			display: block;
			background-color: #1c98be;
			height: 20px;
		}
		.rb-row-perc{
			color: #1c98be;
		}
	}

	.rb-row_contre{
		.rb-row-bar_inside{
			background-color: #d3492b;
			display: block;
			height: 20px;
		}
		.rb-row-perc{
			color: #d3492b;
		}
	}
	.rb-row_abstention{
		.rb-row-bar_inside{
			background-color: #be8814;
			display: block;
			height: 20px;
		}
		.rb-row-perc{
			color: #be8814;
		}
	}

	.rb-row_contre, .rb-row_abstention{
		margin-top: 10px;
	}
}

.results_more{
	clear: both;
	padding-top: 30px;
}
.read-more{
	border-top: 1px solid #E6E6E6;
	padding-top: 25px;
	margin: 10px;

	.read-more__link{
		cursor: pointer;
		text-align: center;
		display: block;
		border: 1px solid #dadada;
		border-radius: 4px;
		background-color: #fff;
		color: #1B7BAB;
		padding: 10px 0;
		max-width: 320px;
		margin: 0 auto;
		text-decoration: none;
		font-weight: bold;
		&:hover{
			background-color: #ccc;
			color: #0A3F5A;
		}
	}

	@include media-query(palm){
		padding: 0;
		margin: 0;
		.read-more__link{
			border: 0;
			border-radius: 0;
			max-width: none;
			border-left: 0;
			border-right: 0;

		}
	}

}
.footer{
	background: #0A3F5A;
	color: #fff;
	padding: 10px;
	line-height: 30px;
}
